<!-- index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pageLabel">Qui és com jo?</title>
    <!-- Puedes vincular un archivo CSS para aplicar estilos -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 id="textIntroduceDataLabel">Introdueix les teves dades:</h1>
    <form id="userForm">

        <label for="sex" id="sexLabel">Sexe:</label>
        <select id="sex" name="sex" onchange="submitSexForm()">
            <option value=0 id="noLabel"></option>
            <option value=1 id="womenLabel">Dona</option>
            <option value=2 id="menLabel">Home</option>
        </select>

    <!-- Útil per calcular SEXE -->      

        <label for="age" id="ageLabel">Edat:</label>
        <input type="number" id="age" name="age"  onchange="submitAgeForm()">
    
    <!-- Útil per calcular EDAT_1, EDAT_Q, EDAT_G, DECADA -->

        <label for="district" id="districtLabel">Districte de residència:</label>
        <select id="district" name="district" onchange="submitDistrictForm()">
            <option value=0 id="noLabel"></option>
            <option value=1 id="district1Label">Ciutat Vella</option>
            <option value=2 id="district2Label">Eixample</option>
            <option value=3 id="district3Label">Sants - Montjuïc</option>
            <option value=4 id="district4Label">Les Corts</option>
            <option value=5 id="district5Label">Sarrià - Sant Gervasi</option>
            <option value=6 id="district6Label">Gràcia</option>
            <option value=7 id="district7Label">Horta - Guinardó</option>
            <option value=8 id="district8Label">Nou Barris</option>
            <option value=9 id="district9Label">Sant Andreu</option>
            <option value=10 id="district10Label">Sant Martí</option>            
        </select>

        <div id="subcategoryNeighborhoodContainer" style="display: none;">
            <label for="neighborhood" id="neighborhoodLabel">Barri de residència:</label>
            <select id="neighborhood" name="neighborhood" onchange="submitNeighborhoodForm()">   
            <!-- Es va omplint de manera dinàmica -->
            </select>
        </div>

    <!-- Útil per calcular CODI_DISTRICTE_DEST, CODI_BARRI_DEST -->      

        <label for="education" id="educationLabel">Nivell Educatiu:</label>
        <select id="education" name="education" onchange="submitEducationForm()">
            <option value=0 id="noLabel"></option>
            <option value=1 id="education1Label">Sense estudis</option>
            <option value=2 id="education2Label">Estudis primaris, certificat d'escolaritat, EGB</option>
            <option value=3 id="education3Label">Batxillerat elemental, graduat escolar, ESO, FPI</option>
            <option value=4 id="education4Label">Batxillerat superior, BUP, COU, FPII, CFGM grau mitjà</option>
            <option value=5 id="education5Label">Estudis universitaris, CFGS grau superior</option>
        </select>

    <!-- Útil per calcular NIV_EDUCA_esta -->
    </form>

    <div>
        <button id="spanishLabel" onclick="changeLanguage('es')">Español</button>
        <button id="catalanLabel" onclick="changeLanguage('ca')">Català</button>
    </div> 

    <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>